*~
target
.idea
.idea_modules
.lib
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/.svn
**/.sonarlint
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.idea
**/.web_bundle_build
.classpath_nb
.ensime
.ensime_lucene
.DS_Store
